<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
        <li class="nav-item ">
            <a class="nav-link pointer" [routerLink]="['/home']" routerLinkActive="router-link-active">
                <i class="menu-icon fas fa-home"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item ">
            <a class="nav-link pointer" [routerLink]="['/registro']" routerLinkActive="router-link-active">
                <i class="menu-icon fas fa-user"></i>
                <span class="menu-title">Registro</span>
            </a>
        </li>
    </ul>
</nav>